html,
body {
  height: 100%;
}

.App {
  background:linear-gradient(120deg, #1db954, #191414);
  height: 100vh;
}

.search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
